<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jet.tagLibraries">
      <tagLibrary
            deprecated="false"
            id="MapcodeTags"
            name="MapcodeTags"
            standardPrefix="mbct">
         <emptyTag
               class="deprecated.DisplayHelloWorld"
               deprecated="true"
               name="ImprimeAloMundo"
               whenContainingLineIsEmpty="preserve">
            <attribute
                  deprecated="false"
                  name="nome"
                  type="string"
                  use="required">
            </attribute>
            <attribute
                  name="numVezes"
                  type="string"
                  use="optional">
            </attribute>
         </emptyTag>
         <conditionalTag
               class="deprecated.DisplayHelloWolrdConditional"
               deprecated="true"
               name="ImprimeAloMundoCondicional"
               processContents="standard"
               whenContainingLineIsEmpty="remove">
            <attribute
                  name="condicao"
                  type="string"
                  use="required">
            </attribute>
         </conditionalTag>
         <conditionalTag
               class="mapcodecustomtags.MyIfTag"
               name="MyIfTag"
               processContents="standard"
               whenContainingLineIsEmpty="remove">
            <attribute
                  deprecated="false"
                  name="var"
                  type="string"
                  use="optional">
            </attribute>
            <attribute
                  deprecated="false"
                  name="test"
                  type="string"
                  use="required">
            </attribute>
         </conditionalTag>
         <emptyTag
               class="deprecated.copy"
               deprecated="false"
               name="copy"
               whenContainingLineIsEmpty="preserve">
            <attribute
                  deprecated="false"
                  name="select"
                  type="string"
                  use="required">
            </attribute>
            <attribute
                  deprecated="false"
                  name="toSelect"
                  type="string"
                  use="required">
            </attribute>
            <attribute
                  deprecated="false"
                  name="name"
                  type="string"
                  use="required">
            </attribute>
            <attribute
                  deprecated="false"
                  name="recursive"
                  type="string"
                  use="optional">
            </attribute>
            <attribute
                  deprecated="false"
                  name="var"
                  type="string"
                  use="required">
            </attribute>
         </emptyTag>
         <emptyTag
               class="mapcodecustomtags.Get"
               name="Get"
               whenContainingLineIsEmpty="preserve">
            <attribute
                  deprecated="false"
                  name="select"
                  type="xpath"
                  use="required">
            </attribute>
            <attribute
                  deprecated="false"
                  name="default"
                  type="xpath"
                  use="optional">
            </attribute>
         </emptyTag>
         <iteratingTag
               class="mapcodecustomtags.iterate"
               name="iterate"
               processContents="standard"
               whenContainingLineIsEmpty="remove">
            <attribute
                  name="select"
                  type="string"
                  use="required">
            </attribute>
            <attribute
                  name="var"
                  type="string"
                  use="optional">
            </attribute>
            <attribute
                  name="delimiter"
                  type="string"
                  use="optional">
            </attribute>
         </iteratingTag>
         <containerTag
               class="mapcodecustomtags.Set"
               name="set"
               processContents="standard"
               whenContainingLineIsEmpty="remove">
            <attribute
                  name="select"
                  type="xpath"
                  use="required">
            </attribute>
            <attribute
                  name="name"
                  type="string"
                  use="required">
            </attribute>
         </containerTag>
         <emptyTag
               class="mapcodecustomtags.Include"
               name="include"
               whenContainingLineIsEmpty="preserve">
            <attribute
                  name="template"
                  type="string"
                  use="required">
            </attribute>
            <attribute
                  name="restoreNames"
                  type="string"
                  use="optional">
            </attribute>
            <attribute
                  name="passVariables"
                  type="string"
                  use="optional">
            </attribute>
            <attribute
                  name="super"
                  type="string"
                  use="optional">
            </attribute>
         </emptyTag>
         <emptyTag
               class="mapcodecustomtags.File"
               name="file"
               whenContainingLineIsEmpty="preserve">
            <attribute
                  name="path"
                  type="string"
                  use="required">
            </attribute>
            <attribute
                  name="template"
                  type="string"
                  use="required">
            </attribute>
            <attribute
                  name="encoding"
                  type="string"
                  use="optional">
            </attribute>
            <attribute
                  name="replace"
                  type="boolean"
                  use="optional">
            </attribute>
            <attribute
                  name="derived"
                  type="boolean"
                  use="optional">
            </attribute>
         </emptyTag>
         <functionTag
               class="mapcodecustomtags.scopy"
               name="scopy"
               whenContainingLineIsEmpty="preserve">
         </functionTag>
         <functionTag
               class="deprecated.ReplaceString"
               name="replaceStrings"
               whenContainingLineIsEmpty="preserve">
            <attribute
                  name="replace"
                  type="string"
                  use="required">
            </attribute>
            <attribute
                  name="with"
                  type="string"
                  use="required">
            </attribute>
         </functionTag>
      </tagLibrary>
   </extension>

</plugin>
